body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 215px;
  background-color: aliceblue;
}

main {
  background-color: beige;
}

.main-container {
  min-height: 768px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100%;
}

section {
  background-color: royalblue;
  height: 100%;
}

footer {
  height: 280px;
  background-color: azure;
}
